@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
    --nav-height: 84px;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: var(--nav-height);
    background: #149bfc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    border: 1px solid transparent;
}

.navbar a:hover {
    font-weight: 600;
    border: none;
}

.main {
    margin-top: var(--nav-height);
    width: 100%;
}

.main > div > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.canvasjs-chart-credit {
    display: none;
}

.card {
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin: 30px;
    background: #159bfc;
    color: #ffffff;
}

.card > .card-title {
    font-size: 20px;
    text-align: center;
    gap: 50px;
}
.card > .card-value {
    text-align: center;
}
.multi {
    display: flex;
    align-items: center;
}
